<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{37.330536,-122.030546}</string>
	<string>{37.330545,-122.028984}</string>
	<string>{7.330899,-122.028587}</string>
</array>
</plist>
